name: Docker Image Push to ECR
on: 
  push: 
    branches:
    - main

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: lravel_repo
  ECR_REGISTRY: public.ecr.aws/f6m2c3b2/

jobs:
  Cypress-Test:
    name: Build Docker Image
    runs-on: ubuntu-latest  
    steps:  
      - name: Checkout
        uses: actions/checkout@v2    

      - name: Setup AWS ECR Details
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION}}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
 
      - name: Build, tag, and push docker image to Amazon ECR
        id: build-image
        env:
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -f workflows/Dockerfile .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
